In [2]:
import pandas as pd

In [8]:
matches = pd.read_csv("processed_dataset.csv", index_col=0)

C:\Users\Admin\AppData\Local\Temp\ipykernel_6328\708117687.py:1: DtypeWarning: Columns (67) have mixed types. Specify dtype option on import or set low_memory=False.
  matches = pd.read_csv("processed_dataset.csv", index_col=0)

In [9]:
matches.head()

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AO,GBH,GBD,GBA,SBH,SBD,SBA,BSH,BSD,BSA
2160,0,E0,2000-08-19,Charlton,Man City,4,0,H,2,0,...,6.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2161,1,E0,2000-08-19,Chelsea,West Ham,4,2,H,1,0,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2162,2,E0,2000-08-19,Coventry,Middlesbrough,1,3,A,1,1,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2163,3,E0,2000-08-19,Derby,Southampton,2,2,D,1,2,...,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2164,4,E0,2000-08-19,Leeds,Everton,2,0,H,2,0,...,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [10]:
matches.shape

(8020, 145)

In [11]:
# 2 seasons * 20 squads * 38 matches

2 * 20 * 38

1520

In [12]:
# Missing Liverpool 2021-2022
matches["HomeTeam"].value_counts()

HomeTeam
Arsenal             402
Chelsea             402
Everton             402
Man United          401
Liverpool           400
Tottenham           399
Man City            382
Newcastle           364
Aston Villa         355
West Ham            345
Fulham              273
Southampton         267
Sunderland          266
West Brom           247
Bolton              209
Blackburn           209
Leicester           192
Stoke               190
Crystal Palace      172
Middlesbrough       171
Wigan               152
Burnley             135
Wolves              135
Swansea             133
Portsmouth          133
Charlton            133
Birmingham          133
Norwich             127
Watford             116
Leeds               114
Hull                 95
Bournemouth          79
Brighton             77
Reading              57
Derby                57
QPR                  57
Sheffield United     51
Ipswich              38
Cardiff              28
Huddersfield         27
Bradford             19
Middlesboro          19
Blackpool            19
Coventry             19
Brentford            19
Name: count, dtype: int64

In [14]:
matches[matches["HomeTeam"] == "Liverpool"].sort_values("Date")

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,AO,GBH,GBD,GBA,SBH,SBD,SBA,BSH,BSD,BSA
2166,6,E0,2000-08-19,Liverpool,Bradford,1,0,H,0,0,...,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2198,38,E0,2000-09-06,Liverpool,Aston Villa,3,1,H,3,0,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2203,43,E0,2000-09-09,Liverpool,Man City,3,2,H,1,0,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2223,63,E0,2000-09-23,Liverpool,Sunderland,1,1,D,1,1,...,5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2252,92,E0,2000-10-21,Liverpool,Leicester,1,0,H,0,0,...,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7168,288,E0,2022-04-02,Liverpool,Watford,2,0,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7195,315,E0,2022-04-19,Liverpool,Man United,4,0,H,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7209,329,E0,2022-04-24,Liverpool,Everton,2,0,H,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7227,347,E0,2022-05-07,Liverpool,Tottenham,1,1,D,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7257,377,E0,2022-05-22,Liverpool,Wolves,3,1,H,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
matches["round"].value_counts()

Matchweek 1     39
Matchweek 16    39
Matchweek 34    39
Matchweek 32    39
Matchweek 31    39
Matchweek 29    39
Matchweek 28    39
Matchweek 26    39
Matchweek 25    39
Matchweek 24    39
Matchweek 23    39
Matchweek 2     39
Matchweek 19    39
Matchweek 17    39
Matchweek 20    39
Matchweek 15    39
Matchweek 5     39
Matchweek 3     39
Matchweek 13    39
Matchweek 12    39
Matchweek 4     39
Matchweek 11    39
Matchweek 10    39
Matchweek 9     39
Matchweek 8     39
Matchweek 14    39
Matchweek 7     39
Matchweek 6     39
Matchweek 30    37
Matchweek 27    37
Matchweek 22    37
Matchweek 21    37
Matchweek 18    37
Matchweek 33    32
Matchweek 35    20
Matchweek 36    20
Matchweek 37    20
Matchweek 38    20
Name: round, dtype: int64

In [20]:
matches.dtypes

Unnamed: 0             int64
Div                   object
Date          datetime64[ns]
HomeTeam              object
AwayTeam              object
                   ...
SBD                  float64
SBA                  float64
BSH                  float64
BSD                  float64
BSA                  float64
Length: 145, dtype: object

In [104]:
del matches["comp"]

In [105]:
del matches["notes"]

In [18]:
matches["Date"] = pd.to_datetime(matches["Date"])

In [40]:
matches["target"] = matches["FTR"].map({'H': 1, 'D': 0, 'A': 0})

In [41]:
matches

,Unnamed: 0,Div,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,...,GBH,GBD,GBA,SBH,SBD,SBA,BSH,BSD,BSA,target
2160,0,E0,2000-08-19,Charlton,Man City,4,0,H,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2161,1,E0,2000-08-19,Chelsea,West Ham,4,2,H,1,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
2162,2,E0,2000-08-19,Coventry,Middlesbrough,1,3,A,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2163,3,E0,2000-08-19,Derby,Southampton,2,2,D,1,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2164,4,E0,2000-08-19,Leeds,Everton,2,0,H,2,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7256,376,E0,2022-05-22,Leicester,Southampton,4,1,H,0,0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
7257,377,E0,2022-05-22,Liverpool,Wolves,3,1,H,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
7258,378,E0,2022-05-22,Man City,Aston Villa,3,2,H,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1
7259,379,E0,2022-05-22,Norwich,Tottenham,0,5,A,0,2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
7252,372,E0,2022-05-22,Brighton,West Ham,3,1,H,0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1

In [109]:
matches["venue_code"] = matches["venue"].astype("category").cat.codes

In [110]:
matches["opp_code"] = matches["opponent"].astype("category").cat.codes

In [111]:
matches["hour"] = matches["time"].str.replace(":.+", "", regex=True).astype("int")

In [117]:
matches["day_code"] = matches["date"].dt.dayofweek

In [118]:
matches

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,fk,pk,pkatt,season,team,target,venue_code,opp_code,hour,day_code
1,2021-08-15,16:30,Matchweek 1,Sun,Away,L,0.0,1.0,Tottenham,1.9,...,1.0,0.0,0.0,2022,Manchester City,0,0,18,16,6
2,2021-08-21,15:00,Matchweek 2,Sat,Home,W,5.0,0.0,Norwich City,2.7,...,1.0,0.0,0.0,2022,Manchester City,1,1,15,15,5
3,2021-08-28,12:30,Matchweek 3,Sat,Home,W,5.0,0.0,Arsenal,3.8,...,0.0,0.0,0.0,2022,Manchester City,1,1,0,12,5
4,2021-09-11,15:00,Matchweek 4,Sat,Away,W,1.0,0.0,Leicester City,2.9,...,0.0,0.0,0.0,2022,Manchester City,1,0,10,15,5
6,2021-09-18,15:00,Matchweek 5,Sat,Home,D,0.0,0.0,Southampton,1.1,...,1.0,0.0,0.0,2022,Manchester City,0,1,17,15,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38,2021-05-02,19:15,Matchweek 34,Sun,Away,L,0.0,4.0,Tottenham,0.5,...,0.0,0.0,0.0,2021,Sheffield United,0,0,18,19,6
39,2021-05-08,15:00,Matchweek 35,Sat,Home,L,0.0,2.0,Crystal Palace,0.7,...,1.0,0.0,0.0,2021,Sheffield United,0,1,6,15,5
40,2021-05-16,19:00,Matchweek 36,Sun,Away,W,1.0,0.0,Everton,1.6,...,0.0,0.0,0.0,2021,Sheffield United,1,0,7,19,6
41,2021-05-19,18:00,Matchweek 37,Wed,Away,L,0.0,1.0,Newcastle Utd,0.8,...,1.0,0.0,0.0,2021,Sheffield United,0,0,14,18,2
42,2021-05-23,16:00,Matchweek 38,Sun,Home,W,1.0,0.0,Burnley,0.6,...,0.0,0.0,0.0,2021,Sheffield United,1,1,4,16,6

In [42]:
from sklearn.ensemble import RandomForestClassifier

In [43]:
rf = RandomForestClassifier(n_estimators=50, min_samples_split=10, random_state=1)

In [44]:
train = matches[matches["Date"] < '2018-01-01']

In [45]:
test = matches[matches["Date"] > '2018-01-01']

In [46]:
predictors = ["FTHG", "FTAG", "HTHG", "HTAG",'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR']

In [47]:
rf.fit(train[predictors], train["target"])

RandomForestClassifier(min_samples_split=10, n_estimators=50, random_state=1)

In [48]:
preds = rf.predict(test[predictors])

In [49]:
from sklearn.metrics import accuracy_score

In [58]:
acc = accuracy_score(test["target"], preds)

In [59]:
acc

0.9985141158989599

In [52]:
combined = pd.DataFrame(dict(actual=test["target"], predicted=preds))

In [53]:
pd.crosstab(index=combined["actual"], columns=combined["predicted"])

predicted    0    1
actual
0          774    1
1            1  570

In [60]:
from sklearn.metrics import precision_score

precision_score(test["target"], preds)

0.9982486865148862

In [56]:
grouped_matches = matches.groupby("HomeTeam")

In [210]:
group = grouped_matches.get_group("Manchester City").sort_values("date")

In [57]:
def rolling_averages(group, cols, new_cols):
    group = group.sort_values("Date")
    rolling_stats = group[cols].rolling(3, closed='left').mean()
    group[new_cols] = rolling_stats
    group = group.dropna(subset=new_cols)
    return group

In [212]:
cols = ["gf", "ga", "sh", "sot", "dist", "fk", "pk", "pkatt"]
new_cols = [f"{c}_rolling" for c in cols]

rolling_averages(group, cols, new_cols)

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
5,2020-10-17,17:30,Matchweek 5,Sat,Home,W,1.0,0.0,Arsenal,1.5,...,17,5,2.000000,2.333333,17.333333,4.666667,18.900000,1.333333,0.333333,0.333333
7,2020-10-24,12:30,Matchweek 6,Sat,Away,D,1.0,1.0,West Ham,1.1,...,12,5,1.333333,2.000000,17.333333,3.666667,17.733333,0.666667,0.000000,0.000000
9,2020-10-31,12:30,Matchweek 7,Sat,Away,W,1.0,0.0,Sheffield Utd,1.5,...,12,5,1.000000,0.666667,16.666667,4.333333,18.233333,0.666667,0.000000,0.000000
11,2020-11-08,16:30,Matchweek 8,Sun,Home,D,1.0,1.0,Liverpool,1.6,...,16,6,1.000000,0.333333,14.333333,6.666667,18.466667,1.000000,0.000000,0.000000
12,2020-11-21,17:30,Matchweek 9,Sat,Away,L,0.0,2.0,Tottenham,1.3,...,17,5,1.000000,0.666667,12.000000,5.666667,19.366667,1.000000,0.000000,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
42,2022-03-14,20:00,Matchweek 29,Mon,Away,D,0.0,0.0,Crystal Palace,2.3,...,20,0,2.333333,1.333333,19.000000,7.000000,15.366667,0.333333,0.333333,0.333333
44,2022-04-02,15:00,Matchweek 31,Sat,Away,W,2.0,0.0,Burnley,1.8,...,15,5,1.666667,0.333333,18.333333,7.333333,16.000000,0.333333,0.000000,0.000000
46,2022-04-10,16:30,Matchweek 32,Sun,Home,D,2.0,2.0,Liverpool,2.0,...,16,6,2.000000,0.333333,20.000000,6.666667,16.133333,0.333333,0.000000,0.000000
49,2022-04-20,20:00,Matchweek 30,Wed,Home,W,3.0,0.0,Brighton,1.2,...,20,2,1.333333,0.666667,15.666667,4.666667,16.700000,0.333333,0.000000,0.000000
50,2022-04-23,15:00,Matchweek 34,Sat,Home,W,5.0,1.0,Watford,3.0,...,15,5,2.333333,0.666667,15.333333,5.000000,17.200000,0.333333,0.000000,0.000000

In [213]:
matches_rolling = matches.groupby("HomeTeam").apply(lambda x: rolling_averages(x, cols, new_cols))

In [214]:
matches_rolling

                                 date   time         round  day venue result  \
team
Arsenal                 6  2020-10-04  14:00   Matchweek 4  Sun  Home      W
                        7  2020-10-17  17:30   Matchweek 5  Sat  Away      L
                        9  2020-10-25  19:15   Matchweek 6  Sun  Home      L
                        11 2020-11-01  16:30   Matchweek 7  Sun  Away      W
                        13 2020-11-08  19:15   Matchweek 8  Sun  Home      L
...                               ...    ...           ...  ...   ...    ...
Wolverhampton Wanderers 32 2022-03-13  14:00  Matchweek 29  Sun  Away      W
                        33 2022-03-18  20:00  Matchweek 30  Fri  Home      L
                        34 2022-04-02  15:00  Matchweek 31  Sat  Home      W
                        35 2022-04-08  20:00  Matchweek 32  Fri  Away      L
                        36 2022-04-24  14:00  Matchweek 34  Sun  Away      L

                             gf   ga         opponent   xg  ...  hour  \
team                                                        ...
Arsenal                 6   2.0  1.0    Sheffield Utd  0.4  ...    14
                        7   0.0  1.0  Manchester City  0.9  ...    17
                        9   0.0  1.0   Leicester City  0.9  ...    19
                        11  1.0  0.0   Manchester Utd  1.1  ...    16
                        13  0.0  3.0      Aston Villa  1.5  ...    19
...                         ...  ...              ...  ...  ...   ...
Wolverhampton Wanderers 32  1.0  0.0          Everton  0.8  ...    14
                        33  2.0  3.0     Leeds United  0.8  ...    20
                        34  2.0  1.0      Aston Villa  1.2  ...    15
                        35  0.0  1.0    Newcastle Utd  0.3  ...    20
                        36  0.0  1.0          Burnley  0.7  ...    14

                            day_code  gf_rolling ga_rolling sh_rolling  \
team
Arsenal                 6          6    2.000000   1.333333   7.666667
                        7          5    1.666667   1.666667   5.333333
                        9          6    1.000000   1.666667   7.000000
                        11         6    0.666667   1.000000   9.666667
                        13         6    0.333333   0.666667   9.666667
...                              ...         ...        ...        ...
Wolverhampton Wanderers 32         6    1.333333   1.000000  12.333333
                        33         4    1.666667   0.666667  12.333333
                        34         5    2.333333   1.000000  13.000000
                        35         4    1.666667   1.333333  13.000000
                        36         6    1.333333   1.666667  10.000000

                           sot_rolling dist_rolling  fk_rolling  pk_rolling  \
team
Arsenal                 6     3.666667    14.733333    0.666667    0.000000
                        7     3.666667    15.766667    0.000000    0.000000
                        9     3.666667    16.733333    0.666667    0.000000
                        11    4.000000    16.033333    1.000000    0.000000
                        13    2.666667    18.033333    1.000000    0.333333
...                                ...          ...         ...         ...
Wolverhampton Wanderers 32    3.666667    19.300000    0.000000    0.000000
                        33    4.333333    19.600000    0.000000    0.000000
                        34    5.333333    19.833333    0.000000    0.000000
                        35    5.000000    18.533333    0.000000    0.000000
                        36    4.666667    17.633333    0.000000    0.000000

                            pkatt_rolling
team
Arsenal                 6        0.000000
                        7        0.000000
                        9        0.000000
                        11       0.000000
                        13       0.333333
...                                   ...
Wolverhampton Wanderers 32       0.000000
                        33       0.000000
                        34       0.000000
                        35       0.000000
                        36       0.000000

[1317 rows x 38 columns]

In [215]:
matches_rolling = matches_rolling.droplevel('team')

In [216]:
matches_rolling

,date,time,round,day,venue,result,gf,ga,opponent,xg,...,hour,day_code,gf_rolling,ga_rolling,sh_rolling,sot_rolling,dist_rolling,fk_rolling,pk_rolling,pkatt_rolling
6,2020-10-04,14:00,Matchweek 4,Sun,Home,W,2.0,1.0,Sheffield Utd,0.4,...,14,6,2.000000,1.333333,7.666667,3.666667,14.733333,0.666667,0.000000,0.000000
7,2020-10-17,17:30,Matchweek 5,Sat,Away,L,0.0,1.0,Manchester City,0.9,...,17,5,1.666667,1.666667,5.333333,3.666667,15.766667,0.000000,0.000000,0.000000
9,2020-10-25,19:15,Matchweek 6,Sun,Home,L,0.0,1.0,Leicester City,0.9,...,19,6,1.000000,1.666667,7.000000,3.666667,16.733333,0.666667,0.000000,0.000000
11,2020-11-01,16:30,Matchweek 7,Sun,Away,W,1.0,0.0,Manchester Utd,1.1,...,16,6,0.666667,1.000000,9.666667,4.000000,16.033333,1.000000,0.000000,0.000000
13,2020-11-08,19:15,Matchweek 8,Sun,Home,L,0.0,3.0,Aston Villa,1.5,...,19,6,0.333333,0.666667,9.666667,2.666667,18.033333,1.000000,0.333333,0.333333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32,2022-03-13,14:00,Matchweek 29,Sun,Away,W,1.0,0.0,Everton,0.8,...,14,6,1.333333,1.000000,12.333333,3.666667,19.300000,0.000000,0.000000,0.000000
33,2022-03-18,20:00,Matchweek 30,Fri,Home,L,2.0,3.0,Leeds United,0.8,...,20,4,1.666667,0.666667,12.333333,4.333333,19.600000,0.000000,0.000000,0.000000
34,2022-04-02,15:00,Matchweek 31,Sat,Home,W,2.0,1.0,Aston Villa,1.2,...,15,5,2.333333,1.000000,13.000000,5.333333,19.833333,0.000000,0.000000,0.000000
35,2022-04-08,20:00,Matchweek 32,Fri,Away,L,0.0,1.0,Newcastle Utd,0.3,...,20,4,1.666667,1.333333,13.000000,5.000000,18.533333,0.000000,0.000000,0.000000
36,2022-04-24,14:00,Matchweek 34,Sun,Away,L,0.0,1.0,Burnley,0.7,...,14,6,1.333333,1.666667,10.000000,4.666667,17.633333,0.000000,0.000000,0.000000

In [238]:
matches_rolling.index = range(matches_rolling.shape[0])

In [239]:
def make_predictions(data, predictors):
    train = data[data["date"] < '2022-01-01']
    test = data[data["date"] > '2022-01-01']
    rf.fit(train[predictors], train["target"])
    preds = rf.predict(test[predictors])
    combined = pd.DataFrame(dict(actual=test["target"], predicted=preds), index=test.index)
    error = precision_score(test["target"], preds)
    return combined, error

In [263]:
combined, error = make_predictions(matches_rolling, predictors + new_cols)

In [264]:
error

0.625

In [268]:
combined = combined.merge(matches_rolling[["date", "team", "opponent", "result"]], left_index=True, right_index=True)

In [297]:
combined.head(10)

    actual  predicted       date     team        opponent result new_team
55       0          0 2022-01-23  Arsenal         Burnley      D  Arsenal
56       1          0 2022-02-10  Arsenal          Wolves      W  Arsenal
57       1          0 2022-02-19  Arsenal       Brentford      W  Arsenal
58       1          1 2022-02-24  Arsenal          Wolves      W  Arsenal
59       1          1 2022-03-06  Arsenal         Watford      W  Arsenal
60       1          1 2022-03-13  Arsenal  Leicester City      W  Arsenal
61       0          1 2022-03-16  Arsenal       Liverpool      L  Arsenal
62       1          0 2022-03-19  Arsenal     Aston Villa      W  Arsenal
63       0          0 2022-04-04  Arsenal  Crystal Palace      L  Arsenal
64       0          0 2022-04-09  Arsenal        Brighton      L  Arsenal

In [286]:
class MissingDict(dict):
    __missing__ = lambda self, key: key

map_values = {"Brighton and Hove Albion": "Brighton", "Manchester United": "Manchester Utd", "Newcastle United": "Newcastle Utd", "Tottenham Hotspur": "Tottenham", "West Ham United": "West Ham", "Wolverhampton Wanderers": "Wolves"} 
mapping = MissingDict(**map_values)

In [287]:
combined["new_team"] = combined["team"].map(mapping)

In [290]:
merged = combined.merge(combined, left_on=["date", "new_team"], right_on=["date", "opponent"])

In [291]:
merged

,actual_x,predicted_x,date,team_x,opponent_x,result_x,new_team_x,actual_y,predicted_y,team_y,opponent_y,result_y,new_team_y
0,0,0,2022-01-23,Arsenal,Burnley,D,Arsenal,0,0,Burnley,Arsenal,D,Burnley
1,1,0,2022-02-10,Arsenal,Wolves,W,Arsenal,0,0,Wolverhampton Wanderers,Arsenal,L,Wolves
2,1,0,2022-02-19,Arsenal,Brentford,W,Arsenal,0,0,Brentford,Arsenal,L,Brentford
3,1,1,2022-02-24,Arsenal,Wolves,W,Arsenal,0,0,Wolverhampton Wanderers,Arsenal,L,Wolves
4,1,1,2022-03-06,Arsenal,Watford,W,Arsenal,0,0,Watford,Arsenal,L,Watford
...,...,...,...,...,...,...,...,...,...,...,...,...,...
257,1,0,2022-03-13,Wolverhampton Wanderers,Everton,W,Wolves,0,0,Everton,Wolves,L,Everton
258,0,0,2022-03-18,Wolverhampton Wanderers,Leeds United,L,Wolves,1,0,Leeds United,Wolves,W,Leeds United
259,1,0,2022-04-02,Wolverhampton Wanderers,Aston Villa,W,Wolves,0,0,Aston Villa,Wolves,L,Aston Villa
260,0,0,2022-04-08,Wolverhampton Wanderers,Newcastle Utd,L,Wolves,1,0,Newcastle United,Wolves,W,Newcastle Utd
261,0,0,2022-04-24,Wolverhampton Wanderers,Burnley,L,Wolves,1,0,Burnley,Wolves,W,Burnley

In [292]:
merged[(merged["predicted_x"] == 1) & (merged["predicted_y"] ==0)]["actual_x"].value_counts()

1    27
0    13
Name: actual_x, dtype: int64